:root {
--green: #87BBA2;
--white: #F0F7EE;
--yellow: #FFF07C;
--gray: #5D737E;
}

body {
    background-color: var(--white);
}

.card {
    background-color: var(--green);
}

#city-current {
    background-color: var(--yellow);
}

button {
    background-color: var(--gray);
    color: var(--white);
}

#city-current {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: var(--gray);
    display: flex;
    justify-content: center;
}

#five-day-forecast {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}